{% if pratica.servizio.compilationInfo %}
  <div class="callout">
    <div class="callout-title"><svg class="icon"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use></svg>info</div>
    <div class="body">
      {{ pratica.servizio.compilationInfo | raw }}
    </div>
  </div>
{% endif %}
