{% set duration = pratica|iter_duration(app.request.locale) %}
 <div class="it-page-section anchor-offset">
  <h6> {{ 'pratica.iter'|trans }} </h6>
<div class="point-list-wrapper my-4">
  {% for timestamp, changes in pratica.storicoStati %}
    {% for change in changes %}
      <div class="point-list">
        <div class="point-list-aside point-list-primary">
        </div>
        <div class="point-list-content">
          <div class="card card-teaser rounded p-2">
            <div class="card-body">
              <b>{{ ('pratica.dettaglio.stato_'~change[0])| trans }}</b>
              <small class="d-block">il {{ timestamp|date('d/m/Y') }} alle {{ timestamp|date('H:i') }}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
