<a class="list-item large medium left-icon icon-left pr-0{% if pratica.id == reference.id %} pb-2 bg-100{% endif %}"
          href="{{ path('pratica_show_detail', {'pratica': pratica }) }}">

  <span style="line-height: 1.5">{{ pratica.servizio.name }}</span>
  <svg class="icon icon-primary icon-left mt-2 pr-1">
    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-{% if pratica.id == reference.id %}arrow-right{% else %}file{% endif %}"></use>
  </svg>
  <p class="m-0">
    acquisita il {{ pratica.submissionTime | date('d/m/Y H:i:s') }} <span
            class="badge badge-light text-decoration-none">{{ pratica.statusName | trans }}</span>
  </p>
</a>
{% if pratica.children.count > 0 %}
<li><span class="divider"></span>
  <ul class="link-sublist">
    {% for item in pratica.children %}
    <li>{{ include('@App/Pratiche/summary/parts/fascicolo_pratica.html.twig', {'pratica': item, 'reference': reference}) }}</li>
    {% if not loop.last %}
    <li><span class="divider"></span>{% endif %}
      {% endfor %}
  </ul>
  {% endif %}

