{% extends '@App/Default/printable.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}
{% set customName = ente.getMetaAsArray('name') %}
{% set enteName = customName != '' ? customName :  ente.name %}
{% set logoMeta = ente.getMetaAsArray('logo') %}
{% set logo = logoMeta != '' ? logoMeta :  asset('bundles/app/images/logo-' ~ ente.slug ~ '.png') %}


{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}

  {{ include('@App/Print/parts/style.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}
  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

{% endblock %}

{% block footer_scripts %}
  <script>
    if ($('#formio_render_form_id').length) {

      Formio.icons = 'fontawesome';
      Formio.createForm(document.getElementById('formio'), $('#formio').data('formserver_url') + '/printable/' + $('#formio_render_form_id').val(), {
        noAlerts: true,
        language: 'it',
        i18n: formIoI18n,
        readOnly: true,
        //renderMode: 'html'
      })
        .then(function (form) {
          // Recupero i dati della pratica se presenti
          if ($('#formio_render_dematerialized_forms').val() != '') {
            form.submission = {
              data: JSON.parse($('#formio_render_dematerialized_forms').val()).data
            };
          }
        });
    }
  </script>

{% endblock %}

{% block main_content %}

  <main class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        {% if ente %}
          <img class="logo" src="{{ logo }}" alt="{{ enteName }}"/>
          <h2 class="ente">{{ enteName }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-8">
        <h3>{{ pratica.servizio.name }}</h3>
        {% if pratica.status >= constant('STATUS_PRE_SUBMIT', pratica) %}
          <div class="row mt-4 mb-4">
            <div class="col-4"><strong>{{ 'pratica.dettaglio.data_ora_presentazione'|trans }}</strong></div>
            <div class="col-8">
              {{ pratica.submissionTime|date(ocsdc_default_date_format) }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.submissionTime|date(ocsdc_default_time_format) }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-4">
        <div class="callout{% if pratica.numeroProtocollo %} p-3 mt-1 mb-4{% endif %}">
          <div class="callout-title">Numero richiesta</div>
          <p class="text-sans-serif">{{ pratica.id }}</p>
        </div>
        {% if pratica.numeroProtocollo %}
          <div class="callout danger p-3 mt-1 mb-4">
            <div class="callout-title">Numero protocollo</div>
            <p class="text-danger text-break text-sans-serif">{{ pratica.numeroProtocollo }}</p>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <div id="formio" data-formserver_url="{{ formserver_url }}"></div>
        {{ form_end(form) }}
      </div>
    </div>

    <div class="row page-break-before"></div>

    <div class="row">
      <div class="col-12">
        <div class=" card-header bg-default"> {{ 'pratica.dettaglio.allegati'|trans }}</div>
      </div>
    </div>

    {% if attachments|length > 0 %}
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <p><strong>Nome del file</strong></p>
          </div>
          <div class="col-6">
            <p><strong>Hash del file (md5)</strong></p>
          </div>
          {% for a in attachments %}
            <div class="col-6">
              <p>{{ a.original_filename }}</p>
            </div>
            <div class="col-6">
              <p>{{ a.hash }}</p>
            </div>
          {% if loop.index % 20 == 0 %}
          </div>
        <div class="row page-break-before"></div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="card-body">
        <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
      </div>
    {% endif %}


    {{ include('AppBundle:Pratiche/summary/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': pratica.user}) }}

    {% set securityFields = [] %}
    {% if pratica.authenticationData|length > 0 %}
      {% set securityFields = pratica.authenticationData %}
    {% elseif user is defined  and user.getSecurityFields %}
      {% set securityFields = user.getSecurityFields %}
    {% endif %}

    {# @var user \AppBundle\Entity\CPSUser #}
    {% if securityFields|length %}
      <div class="row" style="padding-top: 40px">
        <div class="col-12">
          <p>{{ 'pratica.pdf.dati_autenticazione'|trans|raw }}</p>
        </div>
        {% for key, value in securityFields %}
        <div class="col-md-3">
          <p><strong>{{ key }}</strong></p>
        </div>
        <div class="col-md-9">
          <p class="text-break"><small>{{ value }}</small></p>
        </div>
        {% endfor %}
      </div>
    {% endif %}

  </main>
  <div id="footer">
    <p>
      {{ 'pratica.pdf.riferimento_sdc'|trans }} {{ url('pratiche_show', {'pratica': pratica.id}) }}
    </p>
  </div>

{% endblock %}
