<html>
<head>
    {{ include('AppBundle:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('AppBundle:Pratiche/pdf/parts:base.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center_title">
    {{ 'pratica.pdf.comunica'|trans() }}
</div>

<div class="richiesta">
    <p>
        {{ 'autolettura_acqua.pdf.lettura_contatore'|trans() }} <span class="text-uppercase">{{ pratica.contatoreNumero }}</span>
        {{ 'autolettura_acqua.pdf.di_uso'|trans() }} <span class="text-uppercase">{{ pratica.contatoreUso }}</span>
        {{ 'autolettura_acqua.pdf.per_unita_immobiliari'|trans() }} <span class="text-uppercase">{{ pratica.contatoreUnitaImmobiliari }}</span>.<br />
        {{ 'autolettura_acqua.pdf.intestato_a'|trans() }} <span class="text-uppercase">{{ pratica.intestatarioNome }} {{ pratica.intestatarioCognome }}</span>
        {{ 'pratica.pdf.residente_in'|trans() }} <span class="text-uppercase">{{ pratica.intestatarioIndirizzo }} {{ pratica.intestatarioCap }} {{ pratica.intestatarioCitta }}</span>,
        {{ 'pratica.pdf.telefono'|trans() }} <span class="text-uppercase">{{ pratica.intestatarioTelefono }}</span>
        {{ 'pratica.pdf.email'|trans() }} <span class="text-uppercase">{{ pratica.intestatarioEmail }}</span>
    </p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>{{ 'autolettura_acqua.pdf.lettura_metri_cubi'|trans() }}</th>
        <th>{{ 'autolettura_acqua.pdf.lettura_in_data'|trans() }}</th>
    </tr>
    </thead>
    <tr>
        <td>{{ pratica.letturaMetriCubi }}</td>
        <td>{{ pratica.letturaData|date(ocsdc_default_date_format)  }}</td>
    </tr>
</table>

{% if pratica.note != null %}
    <div class="chiede center_title">
        {{ 'autolettura_acqua.pdf.comunica_inoltre'|trans() }}
    </div>
    <div class="richiesta">
        <p>{{ pratica.note }}</p>
    </div>
{% endif %}

{{ include('AppBundle:Pratiche/pdf/parts:data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('AppBundle:Pratiche/pdf/parts:dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:footer.html.twig') }}
</body>
</html>
