<html>
<head>
    {{ include('AppBundle:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>
{{ include('AppBundle:Pratiche/pdf/parts:base.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center-title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

<p class="richiesta">
    <p>
        {{ 'contributo_associazioni.pdf.richiesta'|trans() }}
    </p>

    <p><strong>{{ 'steps.common.org_richiedente.title'|trans }}</strong></p>
    <table class="table">
        <tr>
            <th>{{ 'steps.common.org_richiedente.ruolo_utente'|trans }}</th>
            <td>{{ pratica.getRuoloUtenteOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.ragione_sociale'|trans }}</th>
            <td>{{ pratica.ragioneSocialeOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.cf'|trans }}</th>
            <td>{{ pratica.cfOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.piva'|trans }}</th>
            <td>{{ pratica.pivaOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.indirizzo'|trans }}</th>
            <td>{{ pratica.indirizzoOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.civico'|trans }}</th>
            <td>{{ pratica.civicoOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.cap'|trans }}</th>
            <td>{{ pratica.capOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.comune'|trans }}</th>
            <td>{{ pratica.comuneOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.provincia'|trans }}</th>
            <td>{{ pratica.provinciaOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.email'|trans }}</th>
            <td>{{ pratica.emailOrgRichiedente }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.tel'|trans }}</th>
            <td>{{ pratica.telOrgRichiedente }}</td>
        </tr>
    </table>

    <p><strong>{{ 'steps.contributo_associazioni.tipologia_attivita.title'|trans }}</strong></p>
    <table class="table">
        <tr>
            <th>{{ 'steps.contributo_associazioni.tipologia_attivita.tipologia'|trans }}</th>
            <td>{{ ('steps.contributo_associazioni.tipologia_attivita.' ~ pratica.tipologiaAttivita)|trans }}</td>
        </tr>
    </table>

    <p><strong>{{ 'steps.contributo_associazioni.contributo.title'|trans }}</strong></p>

    <table class="table">
        <tr>
            <th>{{ 'steps.contributo_associazioni.contributo.tipologia_contributo'|trans }}</th>
            <td>{{ ('steps.contributo_associazioni.contributo.' ~ pratica.usoContributo)|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.contributo_associazioni.contributo.descrizione'|trans }}</th>
            <td>{{ pratica.descrizioneContributo }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.contributo_associazioni.contributo.anno'|trans }}</th>
            <td>{{ pratica.annoAttivita }}</td>
        </tr>
    </table>

    <p><strong>{{ 'steps.common.dati_conto_corrente.title'|trans }}</strong></p>
    <table class="table">
        <tr>
            <th>{{ 'steps.common.dati_conto_corrente.iban'|trans }}</th>
            <td>{{ pratica.iban }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.dati_conto_corrente.intestatario'|trans }}</th>
            <td>{{ pratica.intestatarioConto }}</td>
        </tr>
    </table>

</div>


{{ include('AppBundle:Pratiche/pdf/parts:data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:footer.html.twig') }}
</body>
</html>
