<html>
<head>
    {{ include('AppBundle:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('AppBundle:Pratiche/pdf/parts:base.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('AppBundle:Pratiche/pdf/parts:delega_ruolo.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center_title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

{{ include('AppBundle:Pratiche/pdf/parts:delega_richiesta.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('AppBundle:Pratiche/pdf/parts:data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:footer.html.twig') }}
</body>
</html>
